---
layout: default
title: Recipes
---

<section class="listing">
	<p align="center"><img src="/images/header.jpg"></p>

	<div class="content-wrap listing-wrap recipes">

		<article class="listing-item">
			<h2 class="listing-item__title" style="color: black;">Breads</h2>
				<ul>		
{% for project in site.projects %}
	{% if project.category == "bread" or project.category == "breads" %}
					<li><a href="{{ project.url | relative_url }}">{{ project.title }}</a></li>
	{% endif %}
{% endfor %}
				</ul>
		</article>
<!--  -->
		<article class="listing-item">
			<h2 class="listing-item__title" style="color: black;">Cakes</h2>
				<ul>		
{% for project in site.projects %}
	{% if project.category == "cake" %}
					<li><a href="{{ project.url | relative_url }}">{{ project.title }}</a></li>
	{% endif %}
{% endfor %}
				</ul>
		</article>
<!--  -->
		<article class="listing-item">
			<h2 class="listing-item__title" style="color: black;">Cookies</h2>
				<ul>		
{% for project in site.projects %}
	{% if project.category == "cookie" %}
					<li><a href="{{ project.url | relative_url }}">{{ project.title }}</a></li>
	{% endif %}
{% endfor %}
				</ul>
		</article>
<!--  -->
		<article class="listing-item">
			<h2 class="listing-item__title" style="color: black;">Desserts</h2>
				<ul>		
{% for project in site.projects %}
	{% if project.category == "dessert" %}
					<li><a href="{{ project.url | relative_url }}">{{ project.title }}</a></li>
	{% endif %}
{% endfor %}
				</ul>
		</article>
<!--  -->
		<article class="listing-item">
			<h2 class="listing-item__title" style="color: black;">Italian</h2>
				<ul>		
{% for project in site.projects %}
	{% if project.category == "italian" %}
					<li><a href="{{ project.url | relative_url }}">{{ project.title }}</a></li>
	{% endif %}
{% endfor %}
				</ul>
		</article>
<!--  -->
		<article class="listing-item">
			<h2 class="listing-item__title" style="color: black;">Pastry</h2>
				<ul>		
{% for project in site.projects %}
	{% if project.category == "pastry" %}
					<li><a href="{{ project.url | relative_url }}">{{ project.title }}</a></li>
	{% endif %}
{% endfor %}
				</ul>
		</article>
<!--  -->
		<article class="listing-item">
			<h2 class="listing-item__title" style="color: black;">Savory</h2>
				<ul>		
{% for project in site.projects %}
	{% if project.category == "savory" %}
					<li><a href="{{ project.url | relative_url }}">{{ project.title }}</a></li>
	{% endif %}
{% endfor %}
				</ul>
		</article>

	
	</div>

</section>

